*.o
*.lo
Makefile
*/Makefile.in
Makefile.in
JaneClone.app*
JaneClone.app/*
autom4te*
autom4te*/*
*.libs
*.Plo
*.Po
*.dll
*.dylib
*.a
*.la
*.lai
*.so
*.so.*
*~
aclocal.m4
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
